<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> ejs page</h1>
    <p><%=msg %></p>
    <ul>
        <% arr.forEach(function(ele,idx){ %>
            <li><%=ele %></li>
        <% }); %>
    </ul>
    <p><%=obj.key1 %></p>
    <p><%=obj.key2 %></p>
    <p><%=nalja %></p>
</body>
</html>